In [1]:
import pandas as pd
 
data = {'float_col':['0.1','0.2','0.2','10.1','NaN'],
       'int_col':['1','2','6','8','-1'],
       'str_col':['a','b','None','c','a']}


df = pd.DataFrame(data)
df

  float_col int_col str_col
0       0.1       1       a
1       0.2       2       b
2       0.2       6    None
3      10.1       8       c
4       NaN      -1       a

In [2]:
iloc_method =df.iloc[:,:2]
print('Output of Dataframe using iloc method is : ','\n',iloc_method)
col=df[['float_col','int_col']]
print('Output of Dataframe without using iloc method is : ','\n',col)
print('\n')

Output of Dataframe using iloc method is :
   float_col int_col
0       0.1       1
1       0.2       2
2       0.2       6
3      10.1       8
4       NaN      -1
Output of Dataframe without using iloc method is :
   float_col int_col
0       0.1       1
1       0.2       2
2       0.2       6
3      10.1       8
4       NaN      -1

In [3]:
print('Records from float_col having value greater than 0.15 : ')
print(df.loc[df['float_col']>'0.15'])

Records from float_col having value greater than 0.15 :
  float_col int_col str_col
1       0.2       2       b
2       0.2       6    None
3      10.1       8       c
4       NaN      -1       a

In [4]:
print('Records from float_col having value equal to 0.1 : ')
print(df.loc[df['float_col']=='0.1'])

Records from float_col having value equal to 0.1 :
  float_col int_col str_col
0       0.1       1       a

In [5]:
print('Records from DataFrame which satisfies both the conditions float_col greater than 0.1 and int_col greater than 2 : ')
print(df.loc[(df['float_col']>'0.1') & (df['int_col']>'2')])

Records from DataFrame which satisfies both the conditions float_col greater than 0.1 and int_col greater than 2 :
  float_col int_col str_col
2       0.2       6    None
3      10.1       8       c

In [6]:
print('Records from DataFrame which satisfies both the conditions float_col greater than 0.1 or int_col greater than 2 : ')
print(df.loc[(df['float_col']>'0.1') | (df['int_col']>'2')])

Records from DataFrame which satisfies both the conditions float_col greater than 0.1 or int_col greater than 2 :
  float_col int_col str_col
1       0.2       2       b
2       0.2       6    None
3      10.1       8       c
4       NaN      -1       a

In [7]:
print('Records from DataFrame which satisfies which satisfies the conditions float_col not greater than 0.1 : ')
print(df.loc[df['float_col']<'0.1'])

Records from DataFrame which satisfies which satisfies the conditions float_col not greater than 0.1 :
Empty DataFrame
Columns: [float_col, int_col, str_col]
Index: []

In [8]:
new_final_dataframe=df.copy()
new_final_dataframe.rename(columns={'int_col':'new_name'}, inplace=True)
print('New DataFrame in which column int_col is renamed to new_name :')
print(new_final_dataframe)

New DataFrame in which column int_col is renamed to new_name :
  float_col new_name str_col
0       0.1        1       a
1       0.2        2       b
2       0.2        6    None
3      10.1        8       c
4       NaN       -1       a

In [9]:
df.rename(columns={'int_col':'new_name'}, inplace=True)
print('Old existing DataFrame in which column int_col is renamed to new_name :')
print(df)

Old existing DataFrame in which column int_col is renamed to new_name :
  float_col new_name str_col
0       0.1        1       a
1       0.2        2       b
2       0.2        6    None
3      10.1        8       c
4       NaN       -1       a

In [10]:
index_names_to_be_dropped=df[(df['str_col'].isnull()) | (df['float_col'].isnull()) | (df['new_name'].isnull()) ].index
df.drop(index_names_to_be_dropped,inplace=True)
df=df.reset_index(drop=True)
print('Old existing DataFrame after dropping rows where any value is missing :')
print(df)

Old existing DataFrame after dropping rows where any value is missing :
  float_col new_name str_col
0       0.1        1       a
1       0.2        2       b
2       0.2        6    None
3      10.1        8       c
4       NaN       -1       a

In [ ]:
new_final_dataframe['float_col']=new_final_dataframe['float_col'].fillna(new_final_dataframe['float_col'].mean())
print('New DataFrame after changing the missing value in column float_col as mean value of the float_col')
print(new_final_dataframe)

In [12]:
index_names_to_be_dropped=new_final_dataframe[(new_final_dataframe['str_col'].isnull())].index
new_final_dataframe.drop(index_names_to_be_dropped,inplace=True)
new_final_dataframe=new_final_dataframe.reset_index(drop=True)
for (index_label, row_series) in new_final_dataframe.iterrows():
   new_final_dataframe.at[index_label, 'str_col'] = 'map_'+row_series['str_col']
print('DataFrame after dropping missing values under str_col column and changing all values under it with a prefix map_ and existing value :')
print(new_final_dataframe)

DataFrame after dropping missing values under str_col column and changing all values under it with a prefix map_ and existing value :
  float_col new_name   str_col
0       0.1        1     map_a
1       0.2        2     map_b
2       0.2        6  map_None
3      10.1        8     map_c
4       NaN       -1     map_a

In [ ]:
print('Output of dataframe after taking mean of float_col for groups under str_col :')
print(new_final_dataframe.groupby(['str_col'])['float_col'].agg('mean'))

In [18]:
print(new_final_dataframe.cov())

Empty DataFrame
Columns: []
Index: []

In [ ]:
column_1 = new_final_dataframe["new_name"]
column_2 = new_final_dataframe["float_col"]
correlation = column_1.corr(column_2)
print(correlation)

In [24]:
new_data=[[1,'a'],[2,'b']]
other=pd.DataFrame(new_data,columns=['some_val','str_col'])
print('Output : ','\n',other)

Output :
    some_val str_col
0         1       a
1         2       b

In [26]:
print('Inner Join output is :')
print(pd.merge(df,other,on='str_col'))

Inner Join output is :
  float_col new_name str_col  some_val
0       0.1        1       a         1
1       NaN       -1       a         1
2       0.2        2       b         2

In [27]:
print('Outer Join output is :')
print(pd.merge(df,other,on='str_col',how='outer'))

Outer Join output is :
  float_col new_name str_col  some_val
0       0.1        1       a       1.0
1       NaN       -1       a       1.0
2       0.2        2       b       2.0
3       0.2        6    None       NaN
4      10.1        8       c       NaN

In [28]:
print('Left Join output is :')
print(pd.merge(df,other,on='str_col',how='left'))

Left Join output is :
  float_col new_name str_col  some_val
0       0.1        1       a       1.0
1       0.2        2       b       2.0
2       0.2        6    None       NaN
3      10.1        8       c       NaN
4       NaN       -1       a       1.0

In [29]:
print('Right Join output is :')
print(pd.merge(df,other,on='str_col',how='right'))

Right Join output is :
  float_col new_name str_col  some_val
0       0.1        1       a         1
1       NaN       -1       a         1
2       0.2        2       b         2

In [30]:
file1 = open("names.txt","w")
list_of_names = ["Anil \n","sunita \n","suman \n","lokesh \n","Sumita \n","John \n","Johny \n"]
file1.writelines(list_of_names)
file1.close()
print('Names.txt successfully written')

file2 = open("body.txt","w")
body = ["I am going to Delhi. Lets meet on 7th Jan 2018 \n","Have a great day \n","Regards \n","Team Victory"]
file2.writelines(body)
file2.close()
print('body.txt successfully written')


file2=open("body.txt")
body_content=file2.read()
file2.close()

with open('names.txt','r') as file1:
    for line1 in file1:
        name = line1.strip()
        filename = "%s.txt" % name
        file3 = open(filename, "w")
        file3.writelines(filename)
        file3.writelines('\n-----------------------\n')
        file3.writelines('Hello '+line1)
        file3.writelines(body_content)
        file3.writelines('\n-----------------------')
        file3.close()

print('All files have been successfully written')

Names.txt successfully written
body.txt successfully written
All files have been successfully written